body {
    font-family: monospace;
    position: absolute;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
    list-style: circle #ffff;
}

:root {
    --green: #00f000;
    --white: #ffffff;
    --black: #000000;
}

* {
    color: var(--fontColor);
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: var(--bg);
}

.light-theme {
    --bg: var(--white);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--green)
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
    
}

.btn {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.btn:focus {outline-style: none;}